@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* adding css variable */
:root{
    --main-color:rgb(243, 139, 139);
    --black:#13131a;
    --bg:rgb(207, 28, 28);
    --border:.1rem solid rgba(255,255,255,.3);
    --body:rgb(248, 243, 243);
    --text-color:#050505;
    --btn-color: #FF5733;
    --btn-color-hover: #0056b3;
}

/* Properties to be obtained by each page*/
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/* over-turn any browser setting-- webkit*/
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--body);
    
}

/* Set the property for all pages */
section{
    padding:2rem 7%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 10rem;
}



#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: none;
  }
  
  #scroll-to-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--btn-color);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  #scroll-to-top a:hover {
    background-color: var(--btn-color-hover);
  }
  