
/* THE RESPONSIVENESS SETTINGS FOR ALL DEVICES--- MEDIA QUERIES */

/* media queries  for tablet devices */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

/* media queries for mobile devices*/
@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

/* media queries for smaller screen */
@media (max-width:450px){

    html{
        font-size: 50%;
    }

}


/* Responsive styles for the newsletter form */
@media (max-width: 768px) {
    .newsletter-form {
        flex-direction: column; 
        align-items: center;
    }
  
    .newsletter-form input[type="email"] {
        width: 100%; 
        margin-bottom: 10px; 
    }
  }

  /* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .grid-footer-container {
        grid-template-columns: 1fr; 
    }
  }


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .bid-grid-container {
        grid-template-columns: 1fr; /* Single column layout on smaller screens */
    }

    .bid-container {
        width: 100%; /* Make sure each container takes up the full width */
    }

    .bid-image img {
        max-width: 100%; /* Ensure images don't overflow */
    }
}


/** Upcoming event section */
@media screen and (max-width: 768px) {
    .auction-action {
        grid-template-columns: 1fr 1fr;
    }
    
    .content {
        width: 100%;
    }
}

/* Adjust styles for responsiveness for the active bid */
@media screen and (max-width: 768px) {
    .active-bid {
        flex-direction: column;
    }

    .active-bid-data {
        margin-left: 0;
        margin-top: 1rem;
        text-align: center;
    }

    .close-bids button {
        margin-top: 1rem; /* Adjust the margin as needed */
    }
}


/* Responsive styles for smaller screens ON REGISTER NOW*/

  /* Media Query for smaller screens (phones) */
@media (max-width: 767px) {
    .divide-register-info {
        flex-direction: column;
        gap: 0;
    }
    
    .register-form-container {
        width: 100%;
        margin-top: 2rem;
    }
}


/* === MEMEBERSHIP ==== */
/* Media Query for smaller screens (phones) */


